body {
	background-image: url(../image/Backgroundhome.png);
	background-repeat: no-repeat;
	background-size: cover;

}



button {
	background-color: #03DC81;
	border-radius: 30px;
	color: white;
	padding: 14px 20px;
	/* margin: 8px 0; */
	border: none;
	cursor: pointer;
	/* margin-left: 80%; */
	width: 100%;
}

input {
	border-radius: 12px;
}
