body {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-image: url(../image/Tampilan\ Untuk\ Perusahaan.png);
}

.img-detail {
	margin-left: 45%;
}

h2 {
	margin-left: 40%;
	align-content: center;
	margin-top: 30px;
	font-size: 48px;
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: bold;

}

p {
	margin-left: 20%;
	position: absolute;
	/* width: 1010px; */
	height: 238px;

	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 34px;

	letter-spacing: 0.01em;

	color: #676793;
}

.syarat {

	position: absolute;
	width: 1000px;
	height: 34px;
	left: 28%;
	top: 837px;
}

.persyartan {
	position: absolute;
	width: 60%;
	height: 400px;
	left: 213px;
	top: 921px;

	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 50px;
	/* or 250% */

	letter-spacing: 0.01em;

	color: #393939;

}

.jurusan {
	margin-left: 50%;
	margin-top: 70px;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
}

.btn-daftar {
	margin-top: 80px;
	width: 60%;
	margin-left: 60%;
}

button {
	background-color: #03DC81;
	border-radius: 30px;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	margin-left: 80%;
	width: 20%;
}

text {
	font-weight: normal;
}

button:hover {
	opacity: 0.8;
}
