body {
	background-image: url(../image/Backgroundhome.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/*set extra style for the cancel button*/
/*set padding to the container*/

.container {
	padding: 16px;
}

/*set the forgot password text*/
h2 {
	text-align: center;
	color: #fff;
	font-family: sans-serif;


}

/* .srcbtn{
           margin-left: 455px;
           margin-top: -35px;
       } */
h3 {
	text-align: start;
	color: #000;
	font-family: sans-serif;
	font-size: 20px;
}

.o {
	/* position: absolute;
        width: 64px;
        height: 27px;
        left: 311px;
        top: 52px; */

	height: 65px;
	align-items: center;
	width: 709px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0.04em;
	/* left: 88px; */
	color: rgb(175, 173, 173);

}

.srchbar {
	position: absolute;
	top: 15%;
	left: 51%;
	transform: translate(-50%, -50%);
	/* width: 550px; */
}

.srcbtn {
	position: relative;
	top: -6vh;
	left: 80vh;
}

input {
	border: none;
	height: 40px;
	color: #CCCFD6;
	font-size: 12;
	width: 700px;
	border-radius: 50px;
	padding: 0px 10px;
	/* box-shadow: 1px 3px rgb(175, 173, 173); */
}

.perusahaan {
	margin-top: 10px;
	/* padding: left 40px; */
	align-self: center;
	align-content: center;
	margin-left: 420px;
}

.perusahaan1 {
	margin-top: 250px;
	align-self: center;
	align-content: center;
	margin-left: 420px;
}


span.psw {
	float: right;
	padding-top: 16px;
}

/*set styles for span and cancel button on small screens*/
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}

	.cancelbtn {
		width: 100%;
	}
}
